 <div class="container-fluid" style="padding:0px;top:0%; z-index:-1; display: inline-block;">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
         <li data-target="#myCarousel" data-slide-to="4"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" >
        <div class="item active">
          <%=image_tag("photo1.jpg")%>
          <div class= "carousel-caption">
          	<h1> Category</h1>
          	<h2> project title</h2>
          	<p> project description </p>
         </div>
        </div>

        <div class="item">
          <%=image_tag("photo1.jpg")%>
          <div class= "carousel-caption">
          	<h1> Category</h1>
          	<h2> project title</h2>
          	<p> project description </p>
          </div>
        </div>
      
        <div class="item">
          <%=image_tag("photo1.jpg")%>
          <div class= "carousel-caption">
          	<h1> Category</h1>
          	<h2> project title</h2>
          	<p> project description </p>
          </div>
        </div>
        <div class="item">
          <%=image_tag("photo1.jpg")%>
          <div class= "carousel-caption">
            <h1> Category</h1>
            <h2> project title</h2>
            <p> project description </p>
          </div>
        </div>

        <div class="item">
          <%=image_tag("photo1.jpg")%>
          <div class= "carousel-caption">
          	<h1> Category</h1>
          	<h2> project title</h2>
          	<p> project description </p>
          </div>
        </div>
      </div>

    </div>
</div>

<div class="category">
  <h1><span>Discover millions of campaigns to save the world</span><br>Join and Make a Difference</h1>
    <figure class="snip1091">
    <img src="https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/education-fdcfdba5d24c91494ded2158d7993ab90f5c9442589fa166acf0021bbefb9116.png" />
    <figcaption>
    <h2><span>education</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.globalvolunteernetwork.org/southafrica/main.jpg" />
    <figcaption>
    <h2><span>community</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://meansusa.org/sites/default/files/coc-31.jpg" />
    <figcaption>
    <h2><span>environment</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://blogs-images.forbes.com/cit/files/2015/04/doctor-with-tablet-1940x1292.jpg" />
    <figcaption>
    <h2><span>medical</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.live58.org/Portals/209485/images/10%20facts%20about%20natural%20disasters%20-%20banner.jpg" />
    <figcaption>
    <h2><span>disasters</span></h2>
    </figcaption>
    </figure>
</div>