<h1 class="text-center" style="font-family: verdana;">Campaign List</h1>

<%if @projects.blank?%>
  <div class="container">
      <h4>Sorry. No match found.</h4>
      <h4>Please try again with another search parameters.</h4>
  </div>
<%else%>  

  
  <div class="container"  style="margin: auto;">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-6" style="text-align: center;">Descriptions</th>    
          </tr>
        </thead>
        <% @projects.each do |project| %>
          <tbody>
            <tr>
              <td>
                      <h3>Campaign : <%= link_to project.campaign_title, controller: "projects", action: "show", id: project.id%></h3>
                        <!-- <p class="search-bullets">Campaign Title : <%=  project.campaign_title%></p> -->
                        <p class="search-bullets">Image : <%= project.images%></p>
                        <p class="search-bullets">Category : <%= project.category%></p>
                        <p class="search-bullets">Location : <%= project.address%></p>
                        <p class="search-bullets">Video : <%= project.video%></p>
                        <p class="search-bullets">Summary : <%= project.summary%></p>
                        <p class="search-bullets">Amount Needed : RM <%= project.amount_needed%></p>
                        <p class="search-bullets">Amount Achieved : <%= project.amount_achieved%></p>
                        <p class="search-bullets">Deadline : <%= project.deadline%></p>

                      
              
                                <%if !project.images.blank?%>
                                 
                                        <!-- Indicators -->
                                  
                                   <div "id=myCarousel" class="carousel slide" data-ride="carousel" style="">
                                        
                                        <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <%= image_tag project.imagess[0].url(:full).to_s, class: "img-mini-carousel" %>
                                        </div>

                                         <% project.images.each do |picture| %>
                                          <div class="item">
                                            <%= image_tag picture.url(:full).to_s, class: "img-mini-carousel" %>
                                          </div>
                                          <%end%>
                                         
                                        </div>
                                     
                                      </div><!-- /.carousel -->
                                  <%end%>

              </td>
            </tr>
        <% end %>
          
        </tbody>                
      </table>
    </div>
  </dic>
    
 
<%end%>