<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>

        
      <div class="project_bg">  
       <div class="container" id="container1" style="text-align: center;">  
        <h1> Start a Campaign </h1>
        <br> 
          <div class="field">
          <%= f.hidden_field :user_id %>
          </div>

          <div class="field">
          <%= f.label :campaign_title %><br>
          <%= f.text_field :campaign_title %>
          </div>
          <br>
          <div class="field">
          <input style="margin:auto; width:220px;"multiple="multiple" type="file" name="project[images][]" id="project_images">
          </div>
          <br>
          <div class="field">
          <%= f.label :category %><br>
          <%= f.text_field :category %>
          </div>
          <br>
          <div class="field">
          <%= f.label :address %><br>
          <%= f.text_field :address %>
          </div>
          <div class="field">
          <%= f.label :deadline %><br>
          <%= f.date_select :deadline %>
          </div>
          <br>
          <div class="field">
          <input style="margin:auto; width: 200px;"type="file" name="project[video]" id="project_video">
          </div>
          <br>
          <div class="field">
          <%= f.label :summary %><br>
          <textarea style="width:500px; height:100px;"name="project[summary]" id="project_summary"></textarea>
          </div>
          <br>
          <div class="field">
          <%= f.label :amount_needed %><br>
          <%= f.number_field :amount_needed %>
          </div>
          <br>
          <div class="actions">
          <input style="width:200px; font-weight: bold"class="button" type="submit" name="commit" value="NEW PROJECT">
          </div>
          <% end %>
   
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
       </div>
    </div>
  