<p id="notice"><%= notice %></p>

<div class="category">
  <h1 style="font-weight: 900;">Discover</h1>
    <figure class="snip1091">
    <img src="https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/education-fdcfdba5d24c91494ded2158d7993ab90f5c9442589fa166acf0021bbefb9116.png" />
    <figcaption>
    <h2><span>education</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.globalvolunteernetwork.org/southafrica/main.jpg" />
    <figcaption>
    <h2><span>community</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://meansusa.org/sites/default/files/coc-31.jpg" />
    <figcaption>
    <h2><span>environment</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://blogs-images.forbes.com/cit/files/2015/04/doctor-with-tablet-1940x1292.jpg" />
    <figcaption>
    <h2><span>medical</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.live58.org/Portals/209485/images/10%20facts%20about%20natural%20disasters%20-%20banner.jpg" />
    <figcaption>
    <h2><span>disasters</span></h2>
    </figcaption>
    </figure>
</div>

<table style="width:100%;">
  <thead>
    <tr>
      <th>User</th>
      <th>Campaign title</th>
      <th>Images</th>
      <th>Category</th>
      <th>Address</th>
      <th>Deadline</th>
      <th>Video upload</th>
      <th>Summary</th>
      <th>Amount needed</th>
      <th>Amount achieved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user_id %></td>
        <td><%= project.campaign_title %></td>
        <td><% @projects.each do |project| %>
          <% project.images.each do |x| %>
          <%= image_tag x.url(:thumb) %>
          <% end %>
          <% end %></td>
        <td><%= project.category %></td>
        <td><%= project.address %></td>
        <td><%= project.deadline %></td>
        <td><%= video_tag(project.video.url, :controls =>true, :width=>200, :height=>150)%></td>
        <td><%= project.summary %></td>
        <td><%= number_with_delimiter(project.amount_needed, :delimiter => ',') %></td>
        <td><%= project.amount_achieved %></td>
        <td><%= link_to 'Show', project %></td>
       <% if can? :update, project %>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
       <% end %> 
       <% if can? :destroy, project %>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>







