<p id="notice"><%= notice %></p>

<div class ="container">
 <div class="row">
  <h1 class="description">Discover Now.</h1>
  <% @projects.each do |p| %>
  <div class= "col-md-6"> 
   <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
     <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
     <h5><%= p.campaign_title %> </h5>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>






