<p id="notice"><%= notice %></p>

<div class="category">
  <h1 style="font-weight: 900;">Discover</h1>
    <figure class="snip1091">
    <img src="https://g0.iggcdn.com/assets/site/home_category_tiles/Desktop/education-fdcfdba5d24c91494ded2158d7993ab90f5c9442589fa166acf0021bbefb9116.png" />
    <figcaption>
    <h2><span>education</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.globalvolunteernetwork.org/southafrica/main.jpg" />
    <figcaption>
    <h2><span>community</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://meansusa.org/sites/default/files/coc-31.jpg" />
    <figcaption>
    <h2><span>environment</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://blogs-images.forbes.com/cit/files/2015/04/doctor-with-tablet-1940x1292.jpg" />
    <figcaption>
    <h2><span>medical</span></h2>
    </figcaption>
    </figure>

    <figure class="snip1091"><img src="http://www.live58.org/Portals/209485/images/10%20facts%20about%20natural%20disasters%20-%20banner.jpg" />
    <figcaption>
    <h2><span>disasters</span></h2>
    </figcaption>
    </figure>
</div>

<div class ="container">
 <div class="row">
  <h1 class="description">Education.</h1><h4 style="padding-left: 90%; top: 20px;"><%=link_to "See All"%></h4>
  <% @projects.each do |p| %>
  <div class= "col-md-4"> 
   <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
     <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
     <h2><%= p.campaign_title %> </h2>
     <h4 class="text"><b>Summary: </b><%= p.summary %> </h4>
     <h4><b>Amount_needed: </b><%= p.amount_needed %> </h4>
     <h4><b>amount_achieved: </b><%= p.amount_achieved %> </h4>
     <div class="task-status">
  <div class="status-bar">
    <div class="status-track">
      <span class="status-text">{{status}}</span>
      <div class="status-fill" style="width:{{status}}"></div>
    </div>
  </div>
</div>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>

<div class ="container">
 <div class="row">
  <h1 class="description">Community.</h1><h4 style="padding-left: 90%; top: 20px;"><%=link_to "See All"%></h4>
  <% @projects.limit(3).each do |p| %>
  <div class= "col-md-4"> 
   <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
     <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
     <h2><%= p.campaign_title %> </h2>
     <h4 class="text"><b>Summary: </b><%= p.summary %> </h4>
     <h4><b>Amount_needed: </b><%= p.amount_needed %> </h4>
     <h4><b>amount_achieved: </b><%= p.amount_achieved %> </h4>
     <div class="task-status">
  <div class="status-bar">
    <div class="status-track">
      <span class="status-text">{{status}}</span>
      <div class="status-fill" style="width:{{status}}"></div>
    </div>
  </div>
</div>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>

<div class ="container">
 <div class="row">
  <h1 class="description">Environment.</h1><h4 style="padding-left: 90%; top: 20px;"><%=link_to "See All"%></h4>
  <% @projects.limit(3).each do |p| %>
  <div class= "col-md-4"> 
   <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
     <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
     <h2><%= p.campaign_title %> </h2>
     <h4 class="text"><b>Summary: </b><%= p.summary %> </h4>
     <h4><b>Amount_needed: </b><%= p.amount_needed %> </h4>
     <h4><b>amount_achieved: </b><%= p.amount_achieved %> </h4>
     <div class="task-status">
  <div class="status-bar">
    <div class="status-track">
      <span class="status-text">{{status}}</span>
      <div class="status-fill" style="width:{{status}}"></div>
    </div>
  </div>
</div>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>

<div class ="container">
 <div class="row">
  <h1 class="description">Medical.</h1><h4 style="padding-left: 90%; top: 20px;"><%=link_to "See All"%></h4>
  <% @projects.limit(3).each do |p| %>
  <div class= "col-md-4"> 
   <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
     <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
      <h2><%= p.campaign_title %> </h2>
     <h4 class="text"><b>Summary: </b><%= p.summary %> </h4>
     <h4><b>Amount_needed: </b><%= p.amount_needed %> </h4>
     <h4><b>amount_achieved: </b><%= p.amount_achieved %> </h4>
     <div class="task-status">
  <div class="status-bar">
    <div class="status-track">
      <span class="status-text">{{status}}</span>
      <div class="status-fill" style="width:{{status}}"></div>
    </div>
  </div>
</div>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>

<div class ="container">
 <div class="row">
  <h1 class="description">Disasters.</h1><h4 style="padding-left: 90%; top: 20px;"><%=link_to "See All"%></h4>
  <% @projects.limit(3).each do |p| %>
  <div class= "col-md-4"> 
   <div class="img" style= "background-image: url(<%= p.images.first.url %>)">
     <%= link_to "Show Me!", project_path(p), class:"linkoffun" %></div> 
     <h2><%= p.campaign_title %> </h2>
     <h4 class="text"><b>Summary: </b><%= p.summary %> </h4>
     <h4><b>Amount_needed: </b><%= p.amount_needed %> </h4>
     <h4><b>amount_achieved: </b><%= p.amount_achieved %> </h4>
     <div class="task-status">
  <div class="status-bar">
    <div class="status-track">
      <span class="status-text">{{status}}</span>
      <div class="status-fill" style="width:{{status}}"></div>
    </div>
  </div>
</div>
   </div>
   <% end %>
 </div>
</div>

<% @projects.each do |p| %>
<%= link_to "Show Me!", project_path(p), class:"linkoffun" %>
<% end %>