<p id="notice"><%= notice %></p>
<%if !@messages.blank?%>
  <%@messages.each do |x|%>
    <p><%=x%></p>
  <%end%>
<%end%>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Campaign title:</strong>
  <%= @project.campaign_title %>
</p>

<p>
  <strong>Images:</strong>
  <% @projects.images.each do |x|%>
  <%= image_tag x.url%>
  <%end%>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Video upload:</strong>
  <%= @project.video_upload %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Amount needed:</strong>
  <%= @project.amount_needed %>
</p>

<p>
  <strong>Amount achieved:</strong>
  <%= @project.amount_achieved %>
</p>


<br>
<% if !current_user.voted_up_on? @project%>

    <%= link_to like_project_path(@project), method: :put do%>
      Like
      <%= @project.get_upvotes.size%>
    <% end %>

<% else %>

    <%= link_to dislike_project_path(@project), method: :put do%>
      Like
      <%= @project.get_upvotes.size%>
    <% end %>

<% end %>

<br>
<%= link_to 'Pay Now', new_transaction_path + "?id=" + @project.id.to_s %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to "Delete", project_path(@project.id), method: :delete%>
