<p id="notice"><%= notice %></p>
<%if !@messages.blank?%>
  <%@messages.each do |x|%>
    <p><%=x%></p>
  <%end%>
<%end%>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Campaign title:</strong>
  <%= @project.campaign_title %>
</p>

<p>
  <strong>Images:</strong>
  <% @projects.images.each do |x|%>
  <%= image_tag x.url(:thumb)%>
  <%end%>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Video upload:</strong>

  <%= video_tag(@project.video.url, :controls =>true, :width=>200, :height=>150)  %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Amount needed:</strong>
  <%= number_with_delimiter(@project.amount_needed) %>
</p>

<p>
  <strong>Amount achieved:</strong>
  <%= @project.amount_achieved %>
</p>


<br>
    <%= link_to like_project_path(@project), :remote => true, method: :put, class: 'vpos' do%>
      Like
     <span class="vcount"><%= @project.get_upvotes.size%></span> 
    <% end %>


<br>
  <%= link_to 'Pay Now', new_transaction_path + "?id=" + @project.id.to_s %>
<% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
  <%= link_to 'Back', projects_path %>
<% if can? :destroy, @project %>
  <%= link_to "Delete", project_path(@project.id), method: :delete%>
<% end %>


<div class="col-lg-12">
  <div class="card-info"> <span class="card-title"><h1><%= @project.campaign_title%></h1></span>

  </div>
</div>



<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <div class="hidden-xs">Details</div>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      <div class="hidden-xs">Campaign Photos</div>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" id="favorites" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
      <div class="hidden-xs">Promo Video</div>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" id="favorites" class="btn btn-default" href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      <div class="hidden-xs">Location</div>
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" id="following" class="btn btn-default" href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <div class="hidden-xs">Book Now!</div>
    </button>
  </div>
</div>

<div class="well">
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <h4>Details: </h4>  
      <p>Price: $ <%= @listing.price %> </p>
      <p>Description: <%= @listing.description %></p>
      <p>Number of Guest: <%= @listing.no_of_guest %></p>
      <p>Home Type: <%= @listing.home_type.capitalize %></p>
      <p>Room Type: <%= @listing.room_type.capitalize %></p>
      <p>Number of Bed: <%= @listing.no_of_bed %></p>
      <p>Number of Bed: <%= @listing.no_of_bathroom %></p>
    </div>
    <div class="tab-pane fade in" id="tab2">
      <% x = 0%>
      <% @listing.photos.length.times do %>
      <%= image_tag @listing.photos[x].url(:thumb) %>
      <% x += 1%>
      <%end%>
    </div>
    <div class="tab-pane fade in" id="tab3">
    <%= link_to image_tag("https://s-media-cache-ak0.pinimg.com/originals/af/a9/b8/afa9b83f4ef447e39ed43d9b7868addb.jpg", class: "bookings"), new_reservation_path(listing_id: @listing.id) %>
    </div>
  </div>
</div>